<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100"> 


            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>


            <% if(user.id == profile_user.id){ %>
                  <!-- if user matches show foem else only rpofile info -->
                  
                  <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
                        <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
                        <input type="text" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>

                        <input type="file" name="avatar" placeholder="Profile Holder">
                        <input type="submit" name="submit">
                  </form>
            <%}else{%>

            <% } %>